
@{
    ViewData["Title"] = "Ferramentas de desenvolvimento";
}
<div class="Banner"></div>
<div class="topCenterTextKnowledge">
    <h2>Ferramentas de desenvolvimento</h2>
    <p>Passe o mouse em cima dos cards para mais informações.</p>
    <h1>Softwares que eu utilizo</h1>
</div>
<div class="DevToolsGrid">
<div class="DevToolsContainer">
    <img class="devToolsImg" src="https://softcomputers.org/wp-content/uploads/2021/11/visual-studio-2022.jpg" width="300" height="200">
        <div class="overlay">
         <div class="DevToolsText">
            <p>Visual Studio 2022</p>
            <span>IDE que eu quase sempre utilizo. Inclusive, a usei para desenvolver esse site.</span>
            <form action="https://visualstudio.microsoft.com/pt-br/downloads/" target="_blank">
                <input type="submit" value="Visitar o site" />
                </form>
             </div>   
         </div>
    </div>
    <div class="DevToolsContainer">
    <img class="devToolsImg" src="https://www.gitkraken.com/wp-content/uploads/2021/07/GitBashLogo.jpg" width="300" height="200">
        <div class="overlay">
         <div class="DevToolsText">
            <p>Git Bash</p>
            <span>Software que eu utilizo para postar meus códigos no Github</span>
            <form action="https://git-scm.com/downloads" target="_blank">
                <input type="submit" value="Visitar o site" />
                </form>
             </div>   
         </div>
    </div>
     <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://preview.redd.it/h73wnfhvk3l61.png?width=575&format=png&auto=webp&s=a43c711e25606d31d80ccc5bbdf4b42111abce2c" width="300" height="200">
        <div class="overlay">
         <div class="DevToolsText">
            <p>IntelliJ</p>
            <span>IDE que eu utilizo para programação Java.</span>
                <form action="https://www.jetbrains.com/idea/download/#section=windows" target="_blank">
                <input type="submit" value="Visitar o site" />
                </form>
             </div>   
         </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://www.edureka.co/blog/wp-content/uploads/2019/10/logo.png" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>SQL Server Management Studio</p>
                <span>Banco de dados</span>
                <form action="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div> 
    </div>
    <br />
        <h1>Sites de tutoriais e aprendizado</h1>
        <br />
<div class="DevToolsGrid">
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://yt3.googleusercontent.com/dW6to0x5Crmeh7yi-YPLcQRqVrBtx2BSh8eoKTJbE8NbjloQ0sqlmdszIlxokJU_97-ndOt_=s900-c-k-c0x00ffffff-no-rj" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>W3schools</p>
                <span>Bastante informativo. Vários tutoriais sobre diferentes linguagens.</span>
                <form action="https://www.w3schools.com/" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://gtechbooster.com/media/2019/08/mizilla-developer-network.jpg" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>Mozzila Developer Network</p>
                <span>Bastante informativo. Vários tutoriais sobre diferentes linguagens.</span>
                <form action="https://developer.mozilla.org/pt-BR/docs/Web" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://cdn.getshifter.co/caa65008efb706a8bfc6f7e4045d6a018420c3df/uploads/2020/10/BlogImage-CSSTricksblog-image.png" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>CSS Tricks</p>
                <span>Ideias criativas de CSS.</span>
                <form action="https://css-tricks.com/" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://cdnsjengenhariae.nuneshost.com/wp-content/uploads/2020/03/udemy-696x365-1.png" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>Udemy</p>
                <span>Famoso site de vendas de cursos. Foi onde aprendi C# ASP.NET.</span>
                <form action="https://www.udemy.com/" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<h1>Sites de imagens</h1>
<br />
<div class="DevToolsGrid">
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://tm.ibxk.com.br/2021/06/10/10165847871294.jpg" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>Adobe Color</p>
                <span>Possui excelentes dicas de temas e cores para o seu site.</span>
                <form action="https://color.adobe.com/pt/create/color-wheel?fbclid=IwAR2wq_mrVquOUT0rASZ367SJjk1N5GkxTgN5_Lq_Mb_Fx5YEBvYdPm2LSdU" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/63/f9/58/63f95846-6070-582a-e841-7fb9e38c2c39/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>Coolors</p>
                <span>Dicas de cores, imagens e outras funcionalidades visuais para seu site.</span>
                <form action="https://coolors.co/" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://paletton.com/img/paletton-preview-20140414.png" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>Paletton</p>
                <span>Site que ajuda bastante na escolha de cores no desenvolvimento de sites. </span>
                <form action="https://paletton.com/#uid=13u0u0kpqIJeQS2kxN4v4EEBrsF" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
    <div class="DevToolsContainer">
        <img class="devToolsImg" src="https://pbs.twimg.com/profile_images/904080332160458752/wyVe7uLQ_400x400.jpg" width="300" height="200">
        <div class="overlay">
            <div class="DevToolsText">
                <p>My Color Space</p>
                <span>Site para a criação de degradê. Inclusive, com uma prévia de como ficará o site.</span>
                <form action="https://mycolor.space/" target="_blank">
                    <input type="submit" value="Visitar o site" />
                </form>
            </div>
        </div>
    </div>
</div>