@{
    ViewData["Title"] = "Home Page";
}


<div class="icon">
    <a href="https://www.linkedin.com/in/guilherme-lu%C3%ADs-carneiro-da-silva-2b3160252/" target="_blank">
        <img id="img1" src="~/js/icons/linkedingray.png" onmouseover="newImgLinkedin()" onmouseout="oldImgLinkedin()">
    </a>
    <a href="https://github.com/GuilhermeLCS95" target="_blank">
        <img id="img2" src="~/js/icons/githubgray.png" onmouseover="newImgGithub()" onmouseout="oldImgGithub()">
    </a>
    <a href="Home/DownloadFile/" download>
        <img id="img3" src="~/js/icons/resumeicongray.png" onmouseover="newImgResume()" onmouseout="oldImgResume()">
    </a>
</div>

<div class="subtitle">
    <h2>Linguagens de programação</h2>
</div>
<div class="row">
  <div class="card">
    <div class="card-box-inside">
          <a href="https://www.udemy.com/certificate/UC-1bb9a752-afa2-45ae-b47c-c68c9bb19d46/" target="_blank">
             <img src="~/js/icons-cards/csharp.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/csharp.png')" />
          </a>
    </div>   
    <div class="card-description">
        <h2>C# ASP.NET</h2>
        <p>Adicionar texto aqui.</p>
    </div>
  </div>
  <div class="card">
        <div class="card-box-inside"> 
            <a href="https://docs.oracle.com/javase/tutorial/" target="_blank">
                <img src="js/icons-cards/java.png" onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/java.png')" />
            </a> 
        </div>
        <div class="card-description">
        <h2>Java</h2>
            <p>Adicionar texto aqui.</p>
    </div>
  </div>

  <div class="card">
        <div class="card-box-inside">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <img src="js/icons-cards/javascript.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/javascript.png')" />
            </a>
        </div>
        <div class="card-description">
        <h2>JavaScript</h2>
            <p>Adicionar texto aqui.</p>
    </div>
  </div>    
</div>

<div class="subtitle">
    <h2>IDE</h2>
</div>
<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://visualstudio.microsoft.com/pt-br/vs/" target="_blank">
                <img src="js/icons-cards/visualstudio.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/visualstudio.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>Visual Studio</h2>
            <p>Uma IDE bastante completa. Esse site está sendo desenvolvida nela.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-box-inside">
            <a href="https://www.jetbrains.com/pt-br/idea/" target="_blank">
                <img src="js/icons-cards/intellij.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/intellij.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>IntelliJ IDEA</h2>
            <p>Uma excelente IDE para programação em linguagem Java.</p>
        </div>
    </div>
</div>

<div class="subtitle">
       <h2>Linguagens de estilo</h2>        
</div>
<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                <img src="js/icons-cards/css.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/css.png')" />
            </a>
        </div>   
         <div class="card-description">
            <h2>CSS</h2>
            <p>Adicionar texto aqui.</p>
         </div>
     </div>
</div>

<div class="subtitle">
    <h2>Linguagens de marcação</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                <img src="js/icons-cards/html.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/html.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>HTML</h2>
            <p>Adicionar texto aqui.</p>
        </div>
    </div>
</div>

<div class="subtitle">
    <h2>Banco de dados</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://www.microsoft.com/pt-br/sql-server/sql-server-downloads" target="_blank">
                <img src="js/icons-cards/sqlserver.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/sqlserver.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>SQL Server</h2>
            <p>Adicionar texto aqui.</p>
        </div>
    </div>
</div>

<div class="subtitle">
    <h2>Sistema de controle de versões distribuído</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://git-scm.com/" target="_blank">
                <img src="js/icons-cards/git.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/git.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>GIT</h2>
            <p>Adicionar texto aqui.</p>
        </div>
    </div>
</div>

<div class="subtitle">
    <h2>Idiomas</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <img src="js/icons-cards/english.png" />
        </div>
        <div class="card-description">
            <h2>Inglês</h2>
            <p>Aprendizado adquirido através de autoensino ao consumir diversos conteúdos na língua inglesa. Inglês de nível intermediário.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-box-inside">
            <img src="js/icons-cards/spanish.png" />
        </div>
        <div class="card-description">
            <h2>Espanhol</h2>
            <p>Aprendizado adquirido através da ensino escolar e de contato que tive com falantes nativos da língua. Espanhol de nível básico.</p>
        </div>
    </div>
</div>

<div class="subtitle">
    <h2>Acervo e criação de ícones</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://www.flaticon.com/br/" target="_blank">
                <img src="js/icons-cards/flaticon.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/flaticon.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>Flaticon</h2>
            <p>Mais de 9.7 milhões de ícones prontos para uso.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-box-inside">
            <a href="https://www.reduceimages.com/" target="_blank">
                <img src="js/icons-cards/resizeimages.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/resizeimages.png')"/>
            </a>
        </div>
        <div class="card-description">
            <h2>ReduceImages</h2>
            <p>Altera o tamanho de imagens, possibilitando a criação de ícones.</p>
        </div>
    </div>
</div>

<div class="subtitle">
    <h2>Cores</h2>
</div>

<div class="row">
    <div class="card">
        <div class="card-box-inside">
            <a href="https://coolors.co/" target="_blank">
                <img src="js/icons-cards/coolors.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/coolors.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>Coolors</h2>
            <p>Fornece paletas de cores geradas aleatoriamente, recomendação de usuários e extração de paleta de cores de alguma imagem que o usuário escolher.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-box-inside">
            <a href="https://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF" target="_blank">
                <img src="js/icons-cards/paletton.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/paletton.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>Paletton</h2>
            <p>Excelente para escolher paletas de cores para o seu site. Conta até mesmo com exemplos de como o site ficaria com as cores escolhidas.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-box-inside">
            <a href="https://color.adobe.com/pt/create/color-wheel" target="_blank">
                <img src="js/icons-cards/adobecolor.png"
                     onmouseover="ChangeIcon(this,'js/icons-cards/arrow.png')" onmouseout="ChangeIcon(this,'js/icons-cards/adobecolor.png')" />
            </a>
        </div>
        <div class="card-description">
            <h2>Adobe Color</h2>
            <p>Conta com disco de cores, extração de cores e gradientes e mais funcionalidades.</p>
        </div>
    </div>
</div>

<div class="footer">
    <p>Site criado por Guilherme Luís. Sinta-se livre para entrar em contato.</p>
    <div class="footer-iconFooter">
        <a href="https://www.linkedin.com/in/guilherme-lu%C3%ADs-carneiro-da-silva-2b3160252/" target="_blank">
            <img src="~/js/icons/linkedingray.png" onmouseover="ChangeIcon(this,'js/icons/linkedin.png')" onmouseout="ChangeIcon(this,'js/icons/linkedingray.png')" />
        </a>
        <a href="https://github.com/GuilhermeLCS95" target="_blank">
            <img src="~/js/icons/githubgray.png" onmouseover="ChangeIcon(this,'js/icons/github.png')" onmouseout="ChangeIcon(this,'js/icons/githubgray.png')" />
        </a>
        <a href="Home/DownloadFile/" download>
            <img src="~/js/icons/resumeicongray.png" onmouseover="ChangeIcon(this,'js/icons/resumeicon.png')" onmouseout="ChangeIcon(this,'js/icons/resumeicongray.png')" />
        </a>
    </div>
</div>          