@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html {
    font-size: 14px;
    
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

    html, body {
    max-width: 100%;   
}
   
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.header {
    width: 100%;
    height: 25rem;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: table;
    background-image:url('Banner/banner.png');
}

.header-container {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
    position: relative;
    top: 4rem;
    color: white;
    -webkit-text-stroke: 0.75px #2A3439;
}
.header-content-name {

    width: 100%;
    font-size: 1.5rem;
}
.header-content-title {
    
    width: 100%;
    font-size: 4rem;
}
.header-content-welcome {
    width: 100%;
    font-size: 1.5rem;
    
}


.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -3rem;
    gap: 0.8rem;
}

        .icon a {
            text-decoration: none;
        }

        .icon img {
            transition: all 0.3s;
            border-radius: 0.5rem;
        }

            .icon img:hover {
                transform: translateY(-10px);
            }

.subtitle {
    left: 0;
    width: 100%;
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

    .subtitle h2 {
        font-size: 2.0rem;
        
    }

    subtitles p {
        font-size: 1.1rem;
   
    }
   

.row {
    width: 100%;
    left: 0;
    display:flex;     
    justify-content: center;
    position: relative;
    gap: 2.5rem;   
}

.card {
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 5px 0px #CBCED6;
}
    .card:hover {
        transform: translateY(-5px);
    }
   
.card-box-inside {
    width: 80%;
    height: 35%;
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;
    justify-content: center;
    top: 20%;
    left: 50%;
    display: flex;
    background-position: center;
    border-radius: 10px;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to top, #c9d6ff, #e2e2e2);
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
    transform: translate(-50%,-50%);
}
    .card-box-inside img {    
    align-self: center;
    position: relative;
    justify-content: center;
    background-position: center;
    margin-top: 1.6rem;
    
    }
.card-description{
    position: relative;
    padding: 0.8rem;
}
    .card-description h2 {
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 0.3rem;
        border-bottom: solid;
        border-bottom-color: #C4E1FF;
    }
    .card-description p{
        font-size: 1.1rem;
    }

.footer {
    position: absolute;
    width: 100%;
    height: 8rem;
    left: 0;
    right: 0;
    background-color: #343233;
    
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
}
   .footer p{
       color: white;
       width: 100%;
       justify-content: center;
       align-content: center;
       font-size:0.8rem;
       padding-top: 1rem;
   }


.footer-iconFooter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0rem;
    gap: 0.5rem;

}

    .footer-iconFooter a {
        text-decoration: none;
    }

    .footer-iconFooter img {
        transition: all 0.3s;
        border-radius: 0.5rem;
    }

        .footer-iconFooter img:hover {
            transform: translateY(-10px);
        }


